<%- include("partials/header.ejs") %>
  <% const dayNames=["Sunday","Monday", "Tuesday" ,"Wednesday", "Thursday" , "Friday" , "Saturday" ]; %>
    <% const monthNames=["January","February","March","April","May","June","July", "August"
      ,"September","October","November","December"];%>
      <% const date=new Date(); %>
        <div id="heading" class="box">
          <h1>

            <%= dayNames[date.getDay()];%>, <%= monthNames[date.getMonth()];%>
                <%= date.getDate() %>
          </h1>
        </div>
        <div id="todo-wrapper">
          <ul>
            <% if (locals.text){ %>
              <% for (let i=0; i<text.length; i++){%>
                <li class="todo-item">
                  <input type="checkbox" class="toggleButton"></input>
                  <p class="targetElement">
                    <%=text[i]%>
                  </p>
                </li>
                <% }} %>
                  <li>
                    <form action="/submit" method="POST">
                      <input type="text" name="input" id="text-form" placeholder="New Item">
                      <input type="submit" value="+" id="submit-form">
                    </form>
                  </li>
          </ul>


        </div>
        <script>

          const toggleButtons = document.getElementsByClassName('toggleButton');
          const targetElements = document.getElementsByClassName('targetElement');
          for (let j = 0; j < toggleButtons.length; j++) {
            toggleButtons[j].addEventListener('click', function () {
              if (targetElements[j].classList.contains('done')) {
                targetElements[j].classList.remove('done');
                sessionStorage.setItem("key" + j, "")
              } else {
                targetElements[j].classList.add('done');
                sessionStorage.setItem("key" + j, "done")
              }
            });
            if (sessionStorage.getItem(`key${j}`) === "done") {
              targetElements[j].classList.add('done');
              toggleButtons[j].checked = true
            } else {
              targetElements[j].classList.remove('done');
              toggleButtons[j].checked = false
            }
          }
        </script>
        <%- include("partials/footer.ejs") %>